.settings
.DS_Store
.idea
*.exe
websocket/vue3chat/node_modules
docker/node_docker/node_modules
websocket/vue3chat/dist
/upload
/tmp
go.sum
spider/images
Project/config.pro/app.yml
Project/config/app.yml